body {
    background-color: beige;
}

h1 {
    font-family: helvetica;
    color: chocolate;
}

p {
    font-family: 'Courier New', Courier, monospace;
    color: crimson;
}

button {
    color: #000;
    border-radius: 25%;
}